.product {
    width: 20%;
    padding: 10px;

    &__card {
        width: 100%;
        border-radius: 20px;
        background-color: $color-primary;
        height: 317px;
        overflow: hidden;
        position: relative;

        &__content {
            height: 100%;
            //background-size: cover;
            //background-repeat: no-repeat;
            //background-position: center center;
            padding: 30px;
            transition: all .3s;

            &:hover {
                transform: rotate(10deg) scale(1.2);
            }

            &__icon {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    top: 0;
                }
            }
        }
    }

    h5 {
        font-size: 1.3rem;
        color: $color-black;
        text-align: center;
        margin-top: 10px;
    }

    @media only screen and (max-width: 768px) {
        width: 100%;
    }
}