.slider-top {
    width: 100%;
    top: 0;
    height: 100%;
    z-index: 1;
    position: relative;
    overflow-x: hidden;

    &__wrap {
        height: 100%;

        &__btn-prev {
            position: absolute;
            left: 30px;
            top: 50%;
            z-index: 2;
            background-color: transparent;
            border: none;

            svg {
                width: 70px;
                height: 70px;
                fill: $color-white;
            }
        }

        &__btn-next {
            position: absolute;
            right: 30px;
            top: 50%;
            z-index: 2;
            background-color: transparent;
            border: none;

            svg {
                width: 70px;
                height: 70px;
                fill: $color-white;
            }
        }

        &__slide {
            img {
                width: 100%;
                height: calc(100vh - 107px);
            }
        }
    }

    @media only screen and (max-width: 768px) {
        &__wave-overlay {
            height: 60px;
        }

        &__wrap {
            &__btn-prev {
                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            &__btn-next {
                svg {
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}